.chess-container {
  display: flex;
  max-height: 100%;
  max-width: 100%;
  justify-content: start;
  flex-direction: column;
  aspect-ratio: 1;
  margin-left: auto;
  margin-right: auto;
}

.chess-col {
  display: flex;
  flex: 1;
  flex-direction: row;
}

.chess-cell {
  flex: 1;
  border: 1px solid black;
  height: auto;
  width: auto;
  aspect-ratio: 1 !important;
  word-break: normal;
  font-size: 0.1%;
  overflow: hidden;
}

:not(.tic-cell)>.chess-container>.chess-col>.chess-cell.dark {
  background-color: darkgrey;
}

:not(.tic-cell)>.chess-container>.chess-col>.chess-cell.light {
  background-color: white;
}

.chess-cell.selected {
  background-color: aquamarine !important;
}

.chess-cell.valid {
  background-color: lightcoral !important;
}