.chess-container {
  display: flex;
  justify-content: start;
  flex-direction: column;
  aspect-ratio: 1;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.chess-col {
  display: flex;
  flex: 1;
  flex-direction: row;
}

.chess-cell {
  flex: 1;
  border: 1px solid black;
  aspect-ratio: 1 !important;
  word-break: normal;
  font-size: 0.1%;
  overflow: hidden;
}

:not(.tic-cell)>.chess-container>.chess-col>.chess-cell.dark {
  background-color: darkgrey;
}

:not(.tic-cell)>.chess-container>.chess-col>.chess-cell.light {
  background-color: white;
}

.chess-cell.selected {
  background-color: aquamarine !important;
}

.chess-cell.valid {
  background-color: lightcoral !important;
}

.chess-cell.last {
  background-color: blueviolet !important;
}

.chess-cell.valid.last {
  background-color: rgb(180, 60, 190) !important;
}

.promotin-dialog {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: row;
}