.tic-container {
  display: flex;
  width: 96vmin;
  height: 96vmin;
  justify-content: start;
  aspect-ratio: 1 !important;
  padding-bottom: 100%;
  margin: 1vmin;
}

.tic-col {
  display: flex;
  flex: 1;
  flex-direction: column;
  aspect-ratio: 1/8 !important;
  width: calc(32vmin-1px);
  height: 96vmin;
}

.tic-cell {
  border: 1px solid black;
  height: auto;
  width: auto;
  aspect-ratio: 1 !important;
}

.tic-cell.dark {
  background-color: darkgrey !important;
}

.tic-cell.light {
  background-color: white !important;
}

.board-view {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
}

.back-icon {
  padding-right: 5%;
  aspect-ratio: 1;
  padding-bottom: 100%;
  width: fit-content;
  height: fit-content;
  display: contents;
  justify-self: start;
  align-self: start;
}

.tic-cell.over {
  opacity: 0.5;
}

.won_img {
  width: 32vmin;
  height: 32vmin;
  opacity: 0.8;
  position: absolute;
}

.lobby-code {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}